html,
body {
	background-color: #34495e;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.collection {
	border: none;
}

.collection .collection-item,
.collection.with-header .collection-item {
	padding: 0;
}

.collection .collection-item a {
	float: none;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	justify-content: space-between;
	color: #ff9f43;
	transition: all .3s ease-in-out;
}

.collection.with-header .collection-item a {
	padding-left: 30px;
}

.collection .collection-item a:hover {
	color: #fff;
	background-color: #ff9f43;
}
